@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #5a5a5a;
  --color-r: #e657af;
  --color-g: #0049ff;
  --color-b: #26ff00;
}

body {
  font-family: "Archivo", "Noto Sans", sans-serif;
  color: #fff;
  font-size: 16px;
  background-color: var(--color-black);
  overflow-x: hidden;
  letter-spacing: -1px;
  transition: background-color 0.3s;
  will-change: background-color;
}

.wrapper {
  width: 100%;
  height: auto;
}

section {
  width: 100%;
  height: auto;
}

.top_btn {
  cursor: pointer;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 5vh;
  right: 5vw;
  z-index: 60;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}
.top_btn.active {
  opacity: 1;
}
.down {
  position: absolute;
  left: 50%;
  bottom: 0;
  z-index: 40;
  padding: 10px 0 70px;
  width: 100%;
  background-image: linear-gradient(180deg, hsla(0, 0%, 98%, 0), #fff);
  transition: opacity 0.3s;
  opacity: 0;
  transform: translateX(-50%);
}
.down_arrows {
  display: flex;
  justify-content: center;
}
.down_arrow_item {
  border-width: 10px;
  border-left: 0;
  border-bottom: 0;
  margin-right: -6px;
  width: 22px;
  height: 22px;
  display: block;
  transform: rotate(45deg);
  border-style: solid;
  animation: down 1s linear infinite alternate;
  opacity: 0;
}
.down_title {
  font-size: 24px;
  line-height: 1.6;
  font-weight: 600;
  margin-top: 15px;
  position: relative;
}
.down_title span {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-42%);
  transition: opacity 0.5s;
}
.down_title span:nth-child(2) {
  opacity: 0;
}
.down_arrow_item:first-child {
  border-image: linear-gradient(60deg, #e657af 60%, #0049ff 160%);
  border-image-slice: 1;
}
.down_arrow_item:nth-child(2) {
  border-image: linear-gradient(60deg, #e657af 20%, #0049ff 145%);
  border-image-slice: 1;
  animation-delay: 0.2s;
}
.down_arrow_item:nth-child(3) {
  border-image: linear-gradient(60deg, #e657af, #0049ff 130%);
  border-image-slice: 1;
  animation-delay: 0.3s;
}
.down_arrow_item:nth-child(4) {
  border-image: linear-gradient(50deg, #e657af, #0049ff 100%);
  border-image-slice: 1;
  animation-delay: 0.4s;
}
.down_arrow_item:nth-child(5) {
  border-image: linear-gradient(50deg, #e657af, #0049ff 80%);
  border-image-slice: 1;
  animation-delay: 0.5s;
}
.down_arrow_item:nth-child(6) {
  border-image: linear-gradient(50deg, #0049ff 45%, #43cf2e 135%);
  border-image-slice: 1;
  animation-delay: 0.6s;
}
.down_arrow_item:nth-child(7) {
  border-image: linear-gradient(51deg, #0049ff, #43cf2e 75%);
  border-image-slice: 1;
  animation-delay: 0.7s;
}
@keyframes down {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* join 박스 컨테츠 */
.join {
  transition: 0.4s ease-in-out;
  transition-delay: 0.4s;
  transform: translateY(100%);
}
.join_con {
  overflow-x: hidden;
  position: relative;
  margin-left: -700px;
}
.join_con_inner {
  display: flex;
  width: max-content;
  animation: textLoop 16s linear infinite;
}
.join_list_wrap {
  display: flex;
  position: relative;
}
@keyframes textLoop {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(700px, 0, 0);
  }
}
.join_list_wrap::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(40px);
}
.join_list span {
  font-size: 24px;
  line-height: 1.6;
  font-weight: 600;
  display: block;
  position: relative;
  z-index: 2;
  padding: 10px 72px;
  white-space: nowrap;
}
.join_list em {
  font-style: italic;
}
.join_list:nth-child(1n) {
  background-color: var(--color-b);
}
.join_list:nth-child(2n) {
  background-color: var(--color-g);
}
.join_list:nth-child(3n) {
  background-color: var(--color-r);
}
/* 헤더 */
header {
  width: 100%;
  height: 140px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: #fff;
  z-index: 99;
  transform: translateY(-100%);
  transition: transform 0.5s, filter 0.3s;
}
.header_con {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  box-sizing: border-box;
}
/* 로고 */
h1 {
  width: 100px;
  filter: brightness(0) invert(1);
}
h1 img {
  width: 100%;
}
/* 메뉴 */
#gnb {
  width: fit-content;
  height: 100%;
}
#gnb > ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#gnb > ul > li {
  width: fit-content;
  height: fit-content;
  line-height: 1;
  font-weight: bold;
  font-size: 18px;
}
#gnb .lang_list {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  cursor: pointer;
}
#gnb > ul > li > a {
  padding: 23px 25px;
}

.language_menu {
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 3vh;
  right: 0;
  padding: 2px 14px 4px 13px;
  box-sizing: border-box;
  border: 1px solid #5a5a5a;
  text-align: center;
  line-height: 1.33;
  font-weight: 600;
  border-radius: 5px;
  background: #000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.language_menu.active {
  opacity: 1;
  visibility: visible;
}
.language_menu > li:last-child {
  opacity: 0.4;
}
/* 푸터 */
footer {
  width: 100%;
  padding: 0 100px;
  position: relative;
  box-sizing: border-box;
  background: #131415;
}
.footer_con {
  display: flex;
  padding: 58px 0;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.footer_info p {
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
}
.footer_info p:last-child {
  margin-top: 10px;
}
.footer_logo {
  width: 193px;
  cursor: pointer;
}
