@charset "utf-8";
@import url("./reset.css");
@import url("./common.css");
/* 인트로 섹션 */
.intro_wrap {
  height: 100vh;
  position: relative;
}
.intro_video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: var(--color-black);
}
.intro_video video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.intro_description {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 2s;
}

.intro_description .intro_description_text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  padding: 0 32px;
  font-weight: 700;
  transform: translate(-50%, -50%);
  font-size: 52px;
  line-height: 1.35;
  opacity: 0;
}

.intro_description .intro_description_text:last-child {
  font-size: 24px;
  line-height: 1.67;
}
.intro_scroll_down {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 4vh;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.5s;
}
/* 쇼케이스 섹션 */
.showcase {
  position: relative;
  height: 100vh;
}
.showcase_content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
}
/* 쇼케이스 이미지 영역 */
.showcase_img_wrap {
  position: relative;
  height: 100%;
}
.showcase_img_wrap .showcase_img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -1;
  transform: translateY(100vh);
  transition: transform 0.3s;
}
.showcase_img:nth-child(1) {
  transform: translateY(0);
}
.showcase_img_wrap .showcase_img img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
/* 쇼케이스 인트로 영역 */
.showcase_intro {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 2;
}
.showcase_intro .showcase_intro_inner {
  font-size: 100px;
  line-height: 1.2;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.showcase_descirption {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.showcase_descirption .showcase_descirption_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.6;
  opacity: 0;
}
/* 챌린지 섹션 */
.challenge {
  position: relative;
  height: 100vh;
  background: var(--color-white);
  color: var(--color-black);
  display: flex;
  align-items: center;
}
.challenge_content {
  width: 100%;
  height: fit-content;
  padding: 80px 100px;
}
.challenge_content .challenge_title {
  font-size: 72px;
  line-height: 1.3;
  font-weight: 700;
  letter-spacing: 2px;
}
.challenge_content .challenge_text {
  width: 45%;
  font-size: 24px;
  line-height: 1.6;
  font-weight: 600;
  margin-left: auto;
  padding-left: 100px;
}
/* prove 섹션 */
.prove {
  height: 24vh;
  position: relative;
  background: url("../img/challenge/prove.jpg");
  background-size: cover;
  overflow: hidden;
  padding: 218px 0 226px;
}
.prove::before {
  content: "";
  width: 22%;
  height: 140px;
  background-color: #fff;
  display: block;
  position: absolute;
  top: 0;
  right: -22%;
}
.prove::after {
  content: "";
  width: 22%;
  height: 140px;
  background-color: #fff;
  display: block;
  position: absolute;
  bottom: 0;
  left: -22%;
}
/* 타이틀 */
.prove_title {
  width: 100%;
  height: 100%;
}
.prove_title .prove_list {
  font-size: 72px;
  font-weight: 700;
  text-align: center;
  line-height: 1.2;
}
/* talent 섹션 */
.talent {
  background-color: var(--color-white);
  color: var(--color-black);
}
.talent_con {
  height: auto;
  margin: 0 100px;
}
.talent_content {
  width: 100%;
  height: auto;
  display: flex;
}
/* 타이틀 */
.talent_title {
  position: sticky;
  top: 0;
  font-size: 72px;
  font-weight: 700;
  line-height: 1.2;
  flex: 0 0 30%;
  height: 100vh;
  display: flex;
  align-items: center;
}
/* 이미지 영역 */
.talent_img_wrap {
  flex: 0 0 calc(100% - 27%);
  padding: 100vh 0;
}
.talent_img_wrap .talent_item {
  max-width: 45%;
  height: auto;
}
.talent_img_wrap .talent_item:first-child {
  margin-left: auto;
  margin-bottom: 186px;
}
.talent_img_wrap .talent_item:last-child {
  margin-left: auto;
  margin-top: 186px;
}
.talent_item .talent_img_title {
  margin-top: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4;
}
/* possibility 섹션  */
.possibility {
  background-color: var(--color-black);
  color: var(--color-white);
}
.possibility_con {
  width: 100%;
  height: 100%;
  position: relative;
}
.possibility_wrap {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  padding: 0 100px;
  overflow: hidden;
}
.possibility_wrap_inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
/* 컨텐츠 영역 */
.possibility_content {
  flex-shrink: 0;
}
.possibility_content_inner {
  display: flex;
  align-items: center;
}
/* 헤드 */
.possibility_head {
  flex-shrink: 0;
  padding-right: 160px;
}
.possibility_head .head_title {
  font-size: 72px;
  font-weight: 700;
  line-height: 1.3;
}
/* 바디 */
.possibility_body {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.possibility_body .possibility_item {
  flex-shrink: 0;
}
/* 컨텐츠 리스트 */
.body_list_wrap {
  margin: 0;
  padding: 0;
  display: flex;
}
.body_list_wrap .body_list {
  width: 300px;
  flex-shrink: 0;
}
.body_list_wrap .body_list:not(:last-child) {
  margin-right: 75px;
}
/* 리스트 아이콘 */
.body_list .list_icon {
  display: block;
  border: 2px solid #fff;
  border-radius: 58px;
  background-color: #000;
  position: relative;
  width: 100%;
}
.list_icon::before {
  content: "";
  display: block;
  padding-top: 100%;
}
.list_icon::after {
  content: "";
  display: block;
  position: absolute;
  right: -44px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  width: 20px;
  height: 20px;
  border: 8px solid #fff;
  border-left: 0;
  border-bottom: 0;
}
.list_icon_img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list_icon_img img {
  max-width: 54%;
}
.list_title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.6;
  margin-top: 24px;
  padding: 0 0 0 20px;
}
/* 아래 영역 */
.possibility_bottom {
  flex-shrink: 0;
  padding: 0 60px 0 160px;
}
/* 그래픽 이미지 영역 */
.graphic {
  width: calc(100vw - 100px);
  padding-left: 100px;
}
.graphic_inner {
  position: relative;
  width: 500px;
}
.graphic_img {
  width: 100%;
  position: relative;
}
.graphic_title_wrap {
  width: 100%;
  height: 100%;
}
.graphic_title {
  position: absolute;
  text-align: center;
  left: 0;
}
.graphic_title:first-child {
  width: 100%;
  top: 4.5vh;
}
.graphic_title:nth-child(2) {
  left: 3vw;
  bottom: 12vh;
}
.graphic_title:nth-child(3) {
  text-align: center;
  right: -17vw;
  bottom: 12vh;
}
.graphic_item_title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
}
.graphic_item_subtitle {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.6;
}
.possibility_description {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 4vh;
  padding: 0 100px;
}
.possibility_description_text {
  font-size: 14px;
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.4);
}
/* business 섹션 */
.business {
  position: relative;
  height: 100vh;
  background: var(--color-black);
  color: var(--color-white);
  display: flex;
  align-items: center;
}
.business_content {
  width: 100%;
  height: fit-content;
  padding: 80px 100px;
}
/* 타이틀 */
.business_content .business_title {
  font-size: 72px;
  line-height: 1.3;
  font-weight: 700;
  letter-spacing: 2px;
}
.business_content .business_text {
  width: 45%;
  font-size: 24px;
  line-height: 1.6;
  font-weight: 600;
  margin-left: auto;
  padding-left: 100px;
}
/* feature 섹션 */
.feature {
  position: relative;
  overflow: hidden;
}
/* 컨텐츠 */
.feature_content {
  display: flex;
  position: relative;
  height: 175px;
}
.feature_content::before {
  content: "";
  width: 100%;
  height: 100%;
  backdrop-filter: blur(50px);
  outline: 1px solid #000;
  position: absolute;
}
.feature_item {
  width: 100%;
}
.feature_item:first-child {
  background-color: #e657af;
}
.feature_item:nth-child(2) {
  background-color: #0049ff;
}
.feature_item:nth-child(3) {
  background-color: #00bf41;
}
/* .feature_item:nth-child(-n + 2) {
  transform: translateX(-50%);
} */
/* 타이틀 */
.feature_title {
  font-size: 40px;
  line-height: 1.2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
.feature_title br {
  display: none;
}
/* service 섹션 */
.service {
  position: relative;
}
.service_con {
  position: static;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  padding: 0 100px;
  overflow: hidden;
}
.service_con_inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
/* 컨텐츠 헤드 */
.service_head {
  flex-shrink: 0;
  padding: 0 160px 0 0;
}
.service_title {
  font-size: 72px;
  line-height: 1.3;
  font-weight: 700;
}
/* 컨텐츠 바디 */
.service_body {
  display: flex;
  align-items: center;
}
/* 카드 영역 */
.card_wrap {
  width: 100%;
  height: 100%;
}
.card_wrap .card_list {
  display: flex;
}
.card_list .card_item {
  position: relative;
  width: 400px;
  height: 540px;
  flex-shrink: 0;
  margin-right: 40px;
}
.card_list .card_item:last-child {
  margin-right: 0;
}
.card_item .card_item_inner {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 2px solid var(--color-white);
  background-color: var(--color-black);
  padding: 34px;
  box-sizing: border-box;
}
/* 카드 헤드 */
.card_head {
  position: relative;
  display: flex;
  height: 20%;
}
.card_head h2 {
  font-size: 50px;
  font-weight: 700;
  margin-right: auto;
}
.card_head span {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 30px;
  font-weight: 700;
}
/* 카드 바디 */
.card_body {
  padding-top: 56px;
  padding-right: 50px;
}
.card_info {
  width: 100%;
  position: absolute;
  bottom: 3vh;
  left: 2vw;
  display: flex;
}
.card_info h3 {
  font-size: 24px;
  line-height: 1.6;
  font-weight: 600;
}
.card_info .card_info_icon {
  position: absolute;
  right: 4vw;
  bottom: 0;
  width: 40px;
  height: 40px;
  background: url("../img/card/contract-icon.png") no-repeat 50% / cover;
}
.card_line_inner {
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  background-image: linear-gradient(#000, #000),
    linear-gradient(315deg, #e657af, #0049ff, #43cf2e);
  background-origin: border-box;
  background-clip: content-box, border-box;
  border-radius: 20px;
}
.card_info_icon {
  height: 100%;
  position: relative;
}
.card_info_icon .icon_lock {
  width: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card_info_icon .icon_unlock {
  width: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
/* service 두번째 영역 */

.service_second_con {
  position: relative;
  padding: 0 100px;
  margin-top: 100vh;
}
/* 서비스 메인 타이틀 영역 */
.service_main_title {
  height: 100vh;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 100px;
  right: 0;
  bottom: 0;
  width: 400px;
}
.title_card_wrap {
  width: 400px;
  height: 540px;
  position: relative;
}
.title_card_inner {
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  background-image: linear-gradient(#000, #000),
    linear-gradient(315deg, #e657af, #0049ff, #43cf2e);
  background-origin: border-box;
  background-clip: content-box, border-box;
  border-radius: 20px;
}
.title_card {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title_text {
  font-size: 40px;
  line-height: 1.2;
  font-weight: 600;
  background-image: linear-gradient(90deg, #43cf2e, #0049ff, #e657af);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* 서비스 메인 영역 */
.service_main_area {
  margin-left: 400px;
  padding-left: 260px;
}
.service_content_title {
  font-size: 72px;
  font-weight: 700;
  line-height: 1.4;
}
.service_main_description {
  width: 750px;
  font-size: 24px;
  line-height: 1.6;
  margin-top: 34px;
  font-weight: 700;
}
.service_main_info {
  margin-top: 80px;
}
.service_main_info .info_list {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
.info_list .info_list_inner {
  flex: 0 0.5 400px;
  height: 200px;
  border: 2px solid transparent;
  background-image: linear-gradient(#000, #000),
    linear-gradient(315deg, #e657af, #0049ff, #43cf2e);
  background-origin: border-box;
  background-clip: content-box, border-box;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info_list .info_list_inner .list_text {
  font-size: 28px;
  line-height: 1.4;
  font-weight: 600;
  background-image: linear-gradient(90deg, #43cf2e, #0049ff, #e657af);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
.info_list .info_list_title {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  margin-left: 52px;
}
.service_main_slide {
  width: 100%;
  margin-top: 160px;
}
.service_main_slide .slide_title {
  font-size: 72px;
  line-height: 1.2;
  font-weight: 700;
}
.slide_wrap {
  margin-top: 80px;
  display: flex;
}
.slide_item {
  margin-right: 50px;
}
.slide_item .item_text {
  font-size: 24px;
  line-height: 1.6;
  font-weight: 600;
  margin-top: 24px;
}
/* 서비스 세번째 영역 */
.service_third_con {
  height: 100vh;
  position: relative;
  padding: 0 100px;
}
.service_third_wrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
/* 타이틀 카드 */
.title_card_wrap {
  width: 100%;
  display: flex;
}
.title_card_inner {
  width: 400px;
  margin-right: 40px;
}
/* 세번째 영역 카드 */
.third_card_item {
  position: relative;
  width: 400px;
  height: 540px;
  flex-shrink: 0;
  margin-right: 40px;
}
.third_card_item:last-child {
  margin-right: 0;
}
.third_card_item .third_card_item_inner {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  padding: 34px;
  box-sizing: border-box;
  position: relative;
  background: url("../img/card/image-sec-2-1.png") no-repeat;
  background-size: cover;
}
.third_card_item:nth-child(3) .third_card_item_inner {
  background: url("../img/card/image-sec-2-2.png") no-repeat;
  background-size: cover;
}
.third_card_item:nth-child(4) .third_card_item_inner {
  background: url("../img/card/image-sec-2-3.png") no-repeat;
  background-size: cover;
}
.third_card_item_inner::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: hsla(0, 0%, 42%, 0.3);
  backdrop-filter: blur(40px);
  border-radius: 20px;
  z-index: 0;
}
/* 카드 헤드 */
.third_card_head {
  position: relative;
  display: flex;
  height: 20%;
}
.third_card_head h2 {
  font-size: 50px;
  font-weight: 600;
  margin-right: auto;
}
.third_card_head span {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 30px;
  font-weight: 700;
}
/* 카드 바디 */
.third_card_body {
  position: relative;
  z-index: 1;
  padding-top: 56px;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 600;
}
.third_card_info {
  width: 100%;
  position: absolute;
  bottom: 3vh;
  left: 2vw;
  display: flex;
  align-items: center;
}
.third_card_info h3 {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 600;
  margin-left: 10px;
}
.third_card_info .third_card_icon {
  position: absolute;
  right: 4vw;
  bottom: 0;
  width: 40px;
  height: 40px;
  background: url("../img/card/contract-icon.png") no-repeat 50% / cover;
}
.profile {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  position: relative;
  background: #fff;
  overflow: hidden;
}
.profile .bg_color1 {
  display: block;
  width: 100%;
  height: 100%;
  background: #e657af;
}
.profile .bg_color2 {
  display: block;
  width: 100%;
  height: 100%;
  background: #0049ff;
}
.profile .bg_color3 {
  display: block;
  width: 100%;
  height: 100%;
  background: #26ff00;
}
/* 서비스 푸터 섹션 */
.service_footer {
  height: 100vh;
  position: relative;
}
.service_footer_inner {
  width: 100%;
  height: 100%;
  padding: 0 100px;
  display: flex;
}
.service_footer_left {
  display: flex;
  align-items: center;
}
.service_footer_left .footer_card {
  width: 400px;
  height: 540px;
  position: relative;
}
.footer_card::before {
  content: "";
  width: 160%;
  height: 160%;
  display: block;
  position: absolute;
  top: -30%;
  left: -30%;
  background: url("../img/card/card-glow.png") no-repeat;
  background-size: cover;
  z-index: -1;
}
.service_footer_right {
  display: flex;
  align-items: center;
}
.service_footer_right p {
  font-size: 72px;
  line-height: 1.3;
  font-weight: 700;
  padding-left: 200px;
}
/* prove2 섹션 */
.prove2 {
  height: 24vh;
  position: relative;
  overflow: hidden;
  padding: 218px 0 226px;
  background: url("../img/asset/prove.jpg");
  background-size: cover;
}
/* finance 섹션 */
.finance {
  height: 100vh;
  position: relative;
  background-color: var(--color-white);
  color: var(--color-black);
}
.finance_con {
  position: static;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  padding: 0 100px;
  overflow: hidden;
}
.finance_con_inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
/* 컨텐츠 헤드 */
.finance_head {
  flex-shrink: 0;
  padding: 0 160px 0 0;
}
.finance_title {
  font-size: 72px;
  line-height: 1.3;
  font-weight: 700;
}
/* 컨텐츠 바디 */
.finance_body {
  display: flex;
  align-items: center;
}
/* 카드 영역 */
.finance_card_wrap {
  width: 100%;
  height: 100%;
}
.finance_card_wrap .finance_card_list {
  display: flex;
}
.finance_card_list .finance_card_item {
  position: relative;
  width: 400px;
  height: 540px;
  flex-shrink: 0;
  margin-right: 46px;
}
.finance_card_list .finance_card_item:last-child {
  margin-right: 0;
}
.finance_card_item .finance_item_inner {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 2px solid var(--color-white);
  background-color: var(--color-r);
  padding: 34px;
  box-sizing: border-box;
  color: var(--color-white);
}
.finance_card_item:nth-child(2) .finance_item_inner {
  background-color: var(--color-g);
}
.finance_card_item:nth-child(3) .finance_item_inner {
  background: url("../img/card/image-sec-3-3.png") no-repeat;
  background-size: cover;
}
.finance_card_item:nth-child(3) .finance_item_inner::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(40px);
  border-radius: 20px;
}
/* 카드 헤드 */
.finance_card_head {
  position: relative;
  display: flex;
}
.finance_card_head h2 {
  font-size: 50px;
  font-weight: 700;
  margin-right: auto;
}
.finance_card_head .finance_caption {
  width: 60px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}
.finance_caption > span > span {
  font-size: 16px;
  line-height: 1.6;
}
/* 카드 바디 */
.finance_card_body {
  padding-top: 40px;
  position: relative;
  z-index: 1;
}
.finance_text {
  width: 100%;
  margin-bottom: 30px;
}
.finance_text p {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.6;
  margin-bottom: 3px;
}
.finance_text span {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}
.finance_card_info {
  width: 100%;
  position: absolute;
  bottom: 3vh;
  left: 2vw;
  display: flex;
}
.finance_card_info h3 {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 600;
}
.finance_card_info .finance_card_icon {
  position: absolute;
  right: 4vw;
  bottom: 0;
  width: 40px;
  height: 40px;
  background: url("../img/card/contract-icon.png") no-repeat 50% / cover;
}
.finance_descirption {
  font-size: 24px;
  line-height: 1.6;
  font-weight: 700;
  padding: 0 60px 0 160px;
}
/* 크리에이터 섹션 */
.creator {
  position: relative;
}
.creator_con {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
}
.creator_img {
  width: 100%;
  height: 100%;
  position: relative;
}
.creator_img img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.creator_intro {
  position: absolute;
  top: 50%;
  left: 10vw;
  transform: translateY(-50%);
}
.creator_title p {
  font-size: 60px;
  font-weight: 1.2;
  font-weight: 700;
  margin-bottom: 14px;
}
.creator_title p:last-child {
  margin-bottom: 0px;
}
.creator_description {
  margin-top: 26px;
}
.creator_description p {
  font-size: 24px;
  line-height: 1.6;
  font-weight: 600;
}
.creator_scroll_down {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 4vh;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}
/* creator slide 섹션 */
/* finance 섹션 */
.creator_slide {
  height: 100vh;
  position: relative;
  background-color: var(--color-white);
  color: var(--color-black);
}
.creator_slide_con {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  padding: 0 100px;
  overflow: hidden;
}
.creator_slide_con_inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
/* 컨텐츠 헤드 */
.creator_slide_head {
  flex-shrink: 0;
  padding: 0 160px 0 0;
}
.creator_slide_title {
  font-size: 72px;
  line-height: 1.3;
  font-weight: 700;
}
/* 컨텐츠 바디 */
.creator_body {
  display: flex;
  align-items: center;
}
/* 카드 영역 */
.creator_card_wrap {
  width: 100%;
  height: 100%;
}
.creator_card_wrap .creator_card_list {
  display: flex;
}
.creator_card_list .creator_card_item {
  position: relative;
  width: 400px;
  height: 540px;
  flex-shrink: 0;
  margin-right: 46px;
}
.creator_card_list .creator_card_item:last-child {
  margin-right: 0;
}
.creator_card_item .creator_item_inner {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: var(--color-r);
  padding: 34px;
  box-sizing: border-box;
  color: var(--color-white);
  background: url("../img/card/image-sec-4-1.png") no-repeat;
  background-size: cover;
}
.creator_item_inner::before {
  content: "box";
  font-size: 0;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(30px);
  border-radius: 20px;
}
.creator_card_item:nth-child(2) .creator_item_inner {
  background: var(--color-g);
}
.creator_card_item:nth-child(3) .creator_item_inner {
  background: var(--color-black);
}
.creator_card_item:nth-child(4) .creator_item_inner {
  background: var(--color-b);
}
.creator_card_item:nth-child(3) .creator_item_inner::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(40px);
  border-radius: 20px;
}
/* 카드 헤드 */
.creator_card_head {
  position: relative;
  display: flex;
}
.creator_card_head h2 {
  font-size: 50px;
  font-weight: 700;
  margin-right: auto;
  line-height: 1.2;
}
.creator_card_head .creator_caption {
  width: 60px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}
.creator_caption > span > span {
  font-size: 16px;
  line-height: 1.6;
}
/* 카드 바디 */
.creator_card_body {
  padding-top: 40px;
  position: relative;
  z-index: 1;
}
.creator_text {
  width: 100%;
}
.creator_text p {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.6;
}
.creator_text span {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}
.creator_text .text_bottom {
  margin-top: 8px;
}
.creator_text p:nth-child(2) {
  margin-top: 24px;
}
.creator_card_info {
  width: 100%;
  position: absolute;
  bottom: 3vh;
  left: 2vw;
  display: flex;
  align-items: center;
}
.creator_card_info h3 {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 600;
  margin-left: 10px;
}
.creator_card_info .creator_card_icon {
  position: absolute;
  right: 4vw;
  bottom: 0;
  width: 40px;
  height: 40px;
  background: url("../img/card/contract-icon.png") no-repeat 50% / cover;
}
.creator_descirption {
  font-size: 24px;
  line-height: 1.6;
  font-weight: 700;
  padding: 0 60px 0 160px;
}
/* 그라운드 섹션 */
.ground {
  width: 100%;
  padding: 0 100px;
  background-color: var(--color-white);
  color: var(--color-black);
}
.ground_con {
  padding: 200px 0;

  width: 100%;
  height: 100%;
}
.ground_content {
  width: 100%;
  height: 100%;
}
.ground_title {
  font-size: 72px;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 34px;
}
.ground_description p {
  font-size: 24px;
  line-height: 1.6;
  font-weight: 600;
}
.ground_btn_wrap {
  margin-top: 70px;
  display: flex;
  gap: 18px;
}
#company {
  background: var(--color-black);
  color: var(--color-white);
}
#coalition,
#employment {
  background: var(--color-white);
  border: 2px solid var(--color-black);
  color: var(--color-black);
}
#company,
#coalition,
#employment {
  font-size: 18px;
  font-weight: 600;
  padding: 3px 21px 1px;
  line-height: 2.2;
  display: flex;
  text-align: center;
}
